################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC/AoC/obj
/AoC/.vs/AoC/v15/Server/sqlite3
/.vs/AoC-2018/v15
/AoC/.vs/AoC/v16/Server/sqlite3
/AoC/AoC-cpp/x64/Debug
/AoC/AoC 2022/.vs/AoC/v17
/AoC/x64/Debug
/.vs/AoC2018/v17
/AoC/AoC 2018-2021/obj
**/.vs/*
/AoC/AoC 2022/AoC-2022/x64/Debug
/AoC/AoC 2022/AoC-2022/x64/Release
/AoC/.vs/AoC/v17/.suo
/AoC/.vs/AoC/DesignTimeBuild/.dtbcache.v2
