################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC/AoC/obj
/AoC/.vs/AoC/v15/Server/sqlite3
/.vs/AoC-2018/v15
/AoC/.vs/AoC/v16/Server/sqlite3
